loguru
rich_argparse
tabulate
expand_folders
scikit-learn
atlas-mpl-style
matplotlib
seaborn
jupyterlab
numpy
pandas
tqdm
prettytable
dash
dash-bootstrap-components
python-multipart
dash-cytoscape
statsmodels
scipy
kagglehub
pyarrow
fastparquet

