.theme-light {
    --bg-main: #ffffff;
    --bg-sidebar: #f9f9f9;
    --bg-card: #ffffff;
    --text-main: #333333;
    --text-muted: #666666;
    --border-color: #cccccc;
    --accent: #003366;
    --border-accent: #cccccc;
}

.theme-dark {
    --bg-main: #0b0c10;
    --bg-sidebar: #121212;
    --bg-card: #1f2833;
    --text-main: #ffffff;
    --text-muted: #a9a9a9;
    --border-color: #1f2833;
    --accent: #003366;
    --border-accent: #4ea8de;
}

/* Ensure body doesn't have margin and takes full background */
body {
    margin: 0;
    background-color: var(--bg-main);
    color: var(--text-main);
}

/* Ocultar a setinha padrao do details/summary */
details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

/* Sliders Customizados (Azul Escuro) */
.rc-slider-track {
    background-color: var(--accent) !important;
}

.rc-slider-handle {
    border: solid 2px var(--accent) !important;
    background-color: var(--bg-card) !important;
}

.rc-slider-dot-active {
    border-color: var(--accent) !important;
}